<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.dao.AdminDao">

    <select id="findById" resultType="com.app.mvc.domain.Admin" parameterType="java.lang.Integer" >
        select *
        from admin
        where id = #{id}
    </select>

    <select id="findByUsername" resultType="com.app.mvc.domain.Admin" parameterType="java.lang.String" >
        select *
        from admin
        where username = #{username}
    </select>

</mapper>