<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.business.dao.InvestmentDao">

    <sql id="investmentColumns">
        id,
        username,
        mobile,
        telephone,
        fax,
        area,
        sex,
        mail,
        qq,
        business_brand as businessBrand,
        business_model as businessModel,
        venue_name as venueName,
        business_size as businessSize,
        contract_time as contractTime,
        investment_amount as investmentAmount,
        comment,
        status,
        create_time as createTime,
        operator,
        operate_time as operateTime
    </sql>

    <insert id="save" parameterType="com.app.mvc.business.domain.Investment">
        INSERT INTO investment
        (username, mobile, telephone, fax, area, sex, mail, qq, business_brand, business_model, venue_name, business_size,
        contract_time, investment_amount, comment, status, create_time, operator, operate_time)
        VALUES
        (#{username}, #{mobile}, #{telephone}, #{fax}, #{area}, #{sex}, #{mail}, #{qq}, #{businessBrand}, #{businessModel}, #{venueName}, #{businessSize},
        #{contractTime}, #{investmentAmount}, #{comment}, 1, now(), #{operator}, now())
    </insert>

    <update id="invalid" parameterType="map">
        UPDATE investment
        SET status = 0,
            operate_time = now(),
            operator = #{operator}
        WHERE id = #{id}
    </update>

    <select id="count" resultType="int">
        SELECT count(1)
        FROM investment
    </select>

    <select id="getPage" parameterType="com.app.mvc.beans.PageQuery" resultType="com.app.mvc.business.domain.Investment">
        SELECT <include refid="investmentColumns" />
        FROM investment
        ORDER BY id DESC
        limit #{pageSize} offset #{offset}
    </select>

</mapper>