<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.acl.dao.SysLogDao">

    <sql id="sysLogColumns">
        id,
        type,
        target_id as targetId,
        old_value,
        new_value,
        operator,
        operate_time as operateTime,
        operate_ip as operateIp
    </sql>

    <insert id="save" parameterType="SysLog">
        INSERT INTO sys_log (type, target_id, old_value, new_value, operator, operate_ip)
        VALUES (#{type}, #{targetId}, #{oldValue}, #{newValue}, #{operator}, #{operateIp})
    </insert>

    <select id="findById" resultType="SysLog" parameterType="int">
        SELECT
        <include refid="sysLogColumns"/>
        FROM sys_log
        WHERE id = #{id}
    </select>

    <select id="fuzzySearch" resultType="SysLog" parameterType="map">
        SELECT
        <include refid="sysLogColumns"/>
        FROM sys_log
        <include refid="queryConditions"/>
        limit #{page.offset},#{page.pageSize}
    </select>
    <select id="countFuzzySearch" resultType="SysLog" parameterType="map">
        SELECT COUNT(1)
        FROM sys_log
        <include refid="queryConditions"/>
    </select>


    <sql id="queryConditions">
        <where>
            <if test="dto.type != null">
                AND type = #{dto.type}
            </if>
            <if test="dto.old_value != null and dto.old_value != ''">
                AND old_value like '%' || #{dto.beforeSeq} || '%'
            </if>
            <if test="dto.new_value != null and dto.new_value != ''">
                AND new_value like '%' || #{dto.afterSeg} || '%'
            </if>
            <if test="dto.operator != null and dto.operator != ''">
                AND operator = #{dto.operator}
            </if>
            <if test="dto.fromTime != null">
                AND operate_time &gt;= #{dto.fromTime}
            </if>
            <if test="dto.toTime != null">
                AND operate_time &lt;= #{dto.toTime}
            </if>
        </where>
    </sql>
</mapper>